
<h2>公告新闻编辑</h2>
<div class="form">
    <%=form_for @blog, html: { class: "niceform"} do |f|%>
      <fieldset>
          <dl>
              <dt><%= f.label :blog_type%></dt>
              <dd>
                <%= f.select(:blog_type, options_for_select(type_select), {},{size: 1}) %>
</dd>
          </dl>
          <dl>
              <dt><%= f.label :title%></dt>
              <dd><%= f.text_field :title, size: 54 %></dd>
          </dl>

          <dl>
              <dt><%= f.label :description%></dt>
              <dd><%= f.text_area :description, row: 5, cols: 36 %></dd>
          </dl>

          <dl>
              <dt><%= f.label :content%></dt>
              <dd><%= f.text_area :content, row: 100, cols: 36 %></dd>
          </dl>

          <dl>
              <dt><%= f.label :banner%></dt>
              <dd><%= f.file_field :banner %></dd>
          </dl>


          <dl>
              <dt><%= f.label :from%></dt>
              <dd><%= f.text_field :from, size: 54 %></dd>
          </dl>


          <dl>
              <dt><%= f.label :tag%></dt>
              <dd><%= f.text_field :tag, size: 54 %></dd>
          </dl>


          <dl>
              <dt><%= f.label :seo_keywords%></dt>
              <dd><%= f.text_field :seo_keywords, size: 54 %></dd>
          </dl>


          <dl>
              <dt><%= f.label :seo_description%></dt>
              <dd><%= f.text_area :seo_description, row: 5, cols: 36  %></dd>
          </dl>


           <dl class="submit">
             <%= f.submit "发布", id: "submit" %>
           </dl>



      </fieldset>
    <% end %>



<script type="text/javascript">
  var editor = new UE.ui.Editor();
  editor.render("blog_content");
</script>
</div>
