



    <h2>新闻一览</h2>


<table id="rounded-corner" summary="">
    <thead>
      <tr>
            <th scope="col" class="rounded">标题</th>
            <th scope="col" class="rounded">来源</th>
            <th scope="col" class="rounded">标签</th>
            <th scope="col" class="rounded">阅读数</th>
            <th scope="col" class="rounded">发布人</th>
            <th scope="col" class="rounded">发布时间</th>
            <th scope="col" class="rounded">编辑</th>
            <th scope="col" class="rounded-q4">删除</th>
        </tr>
    </thead>
    <tbody>
      <% if @blogs.blank? %>
        <tr><td colspan="10">没有发布过新闻。</td></tr>

      <% else %>
      <% @blogs.each do |blog|%>
        <tr>
          <td><%= blog.title%></td>
          <td><%= blog.from%></td>
          <td><%= blog.tag%></td>
          <td><%= blog.view_count%></td>
          <td><%= Admin.find_by_id(blog.created_by).user_name%></td>
          <td><%= blog.created_at.strftime("%Y-%m-%d %H:%M:%S")%></td>
          <td><%= link_to image_tag("user_edit.png"), edit_blog_path(blog)%></td>
          <td>
            <%= link_to image_tag("trash.png"), blog_path(blog), data: { confirm: '确认删除该新闻吗?' }, :method => "delete" %>
            </td>
        </tr>
        <% end %>
      <% end%>



    </tbody>
</table>

   <a href="<%= new_blog_path%>" class="bt_green"><span class="bt_green_lft"></span><strong>发布新闻</strong><span class="bt_green_r"></span></a>
<!--      <a href="#" class="bt_blue"><span class="bt_blue_lft"></span><strong>View all items from category</strong><span class="bt_blue_r"></span></a>
     <a href="#" class="bt_red"><span class="bt_red_lft"></span><strong>Delete items</strong><span class="bt_red_r"></span></a> -->


        <div class="pagination">
        <span class="disabled"><< 上一页</span><span class="current">1</span><span class="disabled">下一页>></span>
        </div>
